<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Profesional</title>
</head>
<body>
    <h1>Audio Profesional</h1>
    <p>En Electronica Montalvo tenemos los mejores equipos de audio profesional.</p>
    <p>Visítanos en Av. José Clemente Orozco 114, San Antonio, Iztapalapa, 09900 Ciudad de México, CDMX.</p>
    <p>Contáctanos al teléfono 55 5555 5555.</p>
    <p>Horario de atención: Lunes a viernes de 9:00 a 18:00 horas.</p>
    <p>¡Te esperamos!</p>

    <section class="imgGaleria">
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf1.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf2.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf3.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf4.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf5.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf6.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf7.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf8.jpg" alt="Audio Prof">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Audio%20profesional/AudioProf9.jpg" alt="Audio Prof">
        </div>
    </section>
</body>
</html>