<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Audio Car</title>
</head>
<body>

    <h1>Audio Car</h1>
    <p>En Electronica Montalvo tenemos los mejores equipos de audio para tu auto.</p>
    <p>Visítanos en Av. José Clemente Orozco 114, San Antonio, Iztapalapa, 09900 Ciudad de México, CDMX.</p>
    <p>Contáctanos al teléfono 55 5555 5555.</p>
    <p>Horario de atención: Lunes a viernes de 9:00 a 18:00 horas.</p>
    <p>¡Te esperamos!</p>

    <section class="imgGaleria">
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio1.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio2.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio3.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio4.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio5.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio6.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio7.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio8.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/imgCarAudio/CarAudio9.jpg" alt="Audio car">
        </div>
    </section>


</body>
</html>