<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bocinas inteligentes</title>
</head>
<body>
    <h1>Bocinas inteligentes</h1>
    <p>En Electronica Montalvo tenemos las mejores bocinas inteligentes para ti.</p>
    <p>Visítanos en Av. José Clemente Orozco 114, San Antonio, Iztapalapa, 09900 Ciudad de México, CDMX.</p>
    <p>Contáctanos al teléfono 55 5555 5555.</p>
    <p>Horario de atención: Lunes a viernes de 9:00 a 18:00 horas.</p>
    <p>¡Te esperamos!</p>
    <section class="imgGaleria">
        <div class="imgContenedor">
            <img src="/static/img/Bocinas Inteligentes/BocinaInt1.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Bocinas Inteligentes/BocinaInt2.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Bocinas Inteligentes/BocinaInt3.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Bocinas Inteligentes/BocinaInt4.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Bocinas Inteligentes/BocinaInt5.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Bocinas Inteligentes/BocinaInt6.jpg" alt="Audio car">
        </div>
        <div class="imgContenedor">
            <img src="/static/img/Bocinas Inteligentes/BocinaInt7.jpg" alt="Audio car">
        </div>
    </section>
</body>
</html>