<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Electronica Montalvo</title>
</head>
<body>
<header>
    <section class="topMenu">
        <div class="logo">
            <img src="/static/images/logo.png" alt="Electronica Montalvo">
        </div>
        <h1>Electronica Montalvo</h1>
        <div class="redes-sociales">
            <a href="https://www.facebook.com/"><img src="/static/img/facebook.png" alt="Facebook"></a>
            <a href="https://www.instagram.com/"><img src="/static/img/instagram.png" alt="Instagram"></a>
        </div>
    </section>

    <section class="menuPrincipal">
        <nav>
            <ul>
                <li><a href="/"><img src="/static/img/audio.png">Audio car</a></li>
                <li><a href="/"><img src="/static/img/audio1.png">Audio profesional</a></li>
                <li><a href="/"><img src="/static/img/pc.png">Computación </a></li>
                <li><a href="/"><img src="/static/img/video.png">Video</a></li>
                <li><a href="/"><img src="/static/img/iluminacion.png">Iluminación</a></li>
                <li><a href="/"><img src="/static/img/electronica.png">Electrónica</a></li>
                <li><a href="/"><img src="/static/img/electricidad.png">Electricidad</a></li>
                <li><a href="/"><img src="/static/img/bocina.png">Materiales de enconado</a></li>
                <li><a href="/"><img src="/static/img/wifi.png">Internet</a></li>
                <li><a href="/"><img src="/static/img/bocinaB.png">Bocinas portátiles</a></li>
                <li><a href="/"><img src="/static/img/bocinaI.png">Bocinas inteligentes</a></li>
                <li><a href="/"><img src="/static/img/control.png">Controles remotos</a></li>
            </ul>
        </nav>
    </section>

</header>
<main class="principal">
<h1 class="titulo">Bienvenido a Electronica Montalvo</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.433383036504!2d-99.07733438898181!3d19.30699164238256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce0247df6fc3a9%3A0xcb24f434bef703e8!2sAv.%20Jos%C3%A9%20Clemente%20Orozco%20114%2C%20San%20Antonio%2C%20Iztapalapa%2C%2009900%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses!2smx!4v1722284522702!5m2!1ses!2smx" width="200" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
<footer>
    <p>&copy; Electronica Montalvo</p>
</footer>

</body>
</html>